<template>
  <div class=login-body>
    <el-card class="box-card">
      <div slot="header" class="clearfix header">
        <span style="line-height: 36px;">EviCare Dash</span>
      </div>
      <el-form ref="form" :model="form" label-width="120px">
        <el-form-item label="Gebruikersnaam">
      <el-input placeholder="Gebruikersnaam invoeren" v-model="input"></el-input>
        </el-form-item>
        <el-form-item label="Wachtwoord">
      <el-input placeholder="Wachtwoord invoeren" v-model="password" type="password"></el-input>
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>

<script>
  export default {
    name: 'hello',
    data () {
      return {
        input: 'admin',
        password: ''
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .login-body {
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: url("../assets/bgbg.jpg")  no-repeat center center fixed;*/
    /*background-size: cover;*/
  }

  .header {
    font-family: 'Raleway', sans-serif;
  }

  .login-body::after {
    content: "";
    background: url("../assets/bgbg.jpg") no-repeat center center fixed;
    background-size: cover;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
</style>
